body {
    background:#17181b;
    font-family: Tahoma;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;

} 

main {
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    width: 150px;
    font-size: 1em;
    font-weight: bold;
}

img {
    width: 100%;
    border: 3px solid black;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    transition: transform 2s;
}

img:hover {
    border: 3px solid #2b71d8;
    transform: scale(1.5,1.5);
}

figcaption {
    width: 100%;
    white-space: nowrap;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
    figure{
        width: 100px;
    }
}
